<h1>Listing groups</h1>


<% @groups.each do |group| %>
  <div>
    <p><%= group.name %></p>
    <p><%= image_tag "#{group.photo_url}", width: 80 %></p>
    <p><%= link_to 'Show', group %> | <%= link_to 'Edit', edit_group_path(group) %> | <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<br />

<%= link_to 'New Group', new_group_path %>
