<p id="notice"><%= notice %></p>

<div class"group_info">
<h1><%= @group.name %></h1>
<%= image_tag "#{@group.photo_url}", width: 100 %>

<br><br>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<p>
	<b>Add a member:</b><br>
	<%= form_for @membership, method: :post do |f| %>
	  <%= f.label :person_id, "Name" %>
	  <%= f.collection_select :person_id, Person.all, :id, :name %>
	  <%= f.hidden_field :group_id, value: @group.id %>

	  <%= f.submit %>
	<% end %>

</p>

	<% if @group.people.any? %>
		<strong>Students:</strong>
		<section class="group">
		<% @group.people.each do |person| %>
			<div class="block">
				<p>
					<%= image_tag person.photo_url, width: 175, :class => 'profile_pic' %>
				</p>
				<p class="info"><%= person.name %><br>
					<%= link_to "@#{person.twitter}", "https://twitter.com/#{person.twitter}" %>
				</p>
			</div>
		<% end %>
		</section>
	<% end %>
</div>
