<p>We're here to help. Flashcards are fun.</p>
<<<<<<< HEAD
=======
<br>
<p>Enjoy remembering the names and faces of your teachers and classmates.</p>



>>>>>>> 02713911dc69c136141b72b9bf476042e855b6b7

<p>Enjoy remembering the names and faces of your teachers and classmates.</p>
<br>
<%= form_tag root_url do %>
	<%= label_tag :username %> <br>
	<%= text_field_tag :username %>
	<br>
	<%= label_tag :password %> <br>
	<%= text_field_tag :password %>
	<br>
	<%= submit_tag "Sign In" %>
<% end %>
<br><br><br>

<p class="quote">"It's hard to remember, it's difficult to forget."
<br>-Arnold Schwarzenegger</p>
<%= link_to "How it works", groups_url %>
