<!DOCTYPE html>
<html>
<head>
  <title>FlashCardApp</title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>

<div class="container">
	<div class="content">
	<div class="nav">

		<div class="fadeIn">
		<%= link_to image_tag('logo1.png', mouseover: 'logo2.png'), root_url, :id => 'logo' %>
		</div>

		<br><br>
		<%= link_to "People", people_url %>&nbsp;&nbsp;&nbsp;
		<%= link_to "Groups", groups_url %>&nbsp;&nbsp;&nbsp;
		<%= link_to "Demo", group_url(Group.first) %>
	</div>
	<br>

	<%= yield %>

	<div class="fadeUp">
	<p style="border-top: 1px solid #ccc; margin-top: 45px; padding-top: 5px;">This <%= link_to "Rails app", "https://github.com/willpiers/flashcardapp" %> was created by <%= link_to "Pedro Carmo", "https://twitter.com/drocarmo" %> and <%= link_to "Will Piers", "https://twitter.com/willpiers" %></p>
	</div>
</div>

</body>
</html>
