<!DOCTYPE html>
<html>
<head>
  <title>Flashcard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>

<%= link_to image_tag('logo1.jpg', width: 500), root_url %>
<br>

<%= link_to "People", people_url %>
<%= link_to "Groups", groups_url %>
<%= link_to "Memberships", memberships_url %>

<%= yield %>

</body>
</html>
